# Discord Bot Token - Get this from https://discord.com/developers/applications
DISCORD_TOKEN=your_discord_bot_token_here

# Your Bots Client ID - Find this in Developer Portal under OAuth2 > General
CLIENT_ID=your_client_id_here

# Comma-separated list of Bot IDs to monitor on startup
BOT_IDS=bot_id_1,bot_id_2,bot_id_3

# Your Discord User ID - This is where offline/online alerts will be sent as DMs
# To find your ID: Enable Developer Mode in Discord, right-click your username and copy ID
ALERT_USER_ID=your_user_id_here
